/**Reset**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**Variável**/

:root{
    --color-nao-metais: #4903b1;
    --color-gases-nobres: #227da1;
    --color-metais-alcalinos: #E20808;
    --color-metais-alcalinos-terrosos: #F94141;
    --color-semimetais: #43aa8b;
    --color-halogenios: #87b465;
    --color-outros-metais: #4d908e;
    --color-metais-transicao: #2a796c;
    --color-lantanideos: #277da1;
    --color-actinidios: #79456c;
    --color-text: #fff;
}
/*mobile*/
.elemento{
    width: 100px;
    height: 100px;
    margin: 5px;
    color: var(--color-text);
}

.naometais{
    background-color: var(--color-nao-metais)
}

.gasesnobres{
    background-color: var(--color-gases-nobres);
}

.metaisalcalinos{
    background-color: var(--color-metais-alcalinos);
}

.metaisalcalinosterrosos{
    background-color: var(--color-metais-alcalinos-terrosos);
}

.semimetais{
    background-color: var(--color-semimetais);
}

.halogenios{
    background-color: var(--color-halogenios);
}

.outrosmetais{
    background-color: var(--color-outros-metais);
}

.metaistransicao{
    background-color: var(--color-metais-transicao);
}

.lantanideos{
    background-color: var(--color-lantanideos);
}

.actinideos{
    background-color: var(--color-actinidios);
}

.estilo{
    border-radius: 10px;
    padding: 5px;
}
.right{
    text-align: right;
}
/*desktop*/
@media screen and (min-width: 600px){
    .linha01{
        display: flex;
        justify-content: space-between;
    }
    .linha02{
        display: flex;
        justify-content: space-between;
    }
    .sublinha01{
        display: flex;
    }
    .sublinha02{
        display: flex;
    }
    .linha03{
        display: flex;
        justify-content: space-between;
    }
    .sublinha03{
        display: flex;
    }
    .sublinha04{
        display: flex;
    }
    .linha04{
        display: flex;
        justify-content: space-between;
    }
    .sublinha05{
        display: flex;
    }
    .sublinha06{
        display: flex;
    }
    .linha05{
        display: flex;
        justify-content: space-between;
    }
    .linha06{
        display: flex;
        justify-content: space-between;
    }
    .linha07{
        display: flex;
        justify-content: space-between;
    }
    .sublinha07{
        display: flex;
    }
    .sublinha08{
        display: flex;
    }
    .lantanídeos{
        display: flex;
        justify-content: end;
    }
    .actinídeos{
        display: flex;
        justify-content: end;
    }
}